/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2015, 2:11:50 PM
    Author     : nemanja.marjanovic
*/

/*.chart {
    -fx-padding: 15 25 15 15;   
    -fx-border-color: black;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 10, 0.0 , 0 , 2 );
}*/
/*.chart-plot-background {
    -fx-border-color: black black transparent transparent;
}*/
/*.chart-series-area-line {
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}*/
/*.chart-series-area-fill {
    -fx-fill: linear-gradient(to right, white, rgba(255,255,255,0));
    -fx-blend-mode: OVERLAY;
}*/
/*.chart-area-symbol {
    -fx-background-color: white;
}*/
/*
.my-top-panel{
    -fx-background-color: #BBC1EE;
}*/

.largePanelText{
    -fx-fill: black;
    -fx-font-size: 20;
}

.middlePanelText{
    -fx-fill: darkblue;
    -fx-font-size: 14;
}

.middlePanelTextBold{
    -fx-fill: black;
    -fx-font-size: 14;
    -fx-font-weigh : bold;
}

.main{
    -fx-background-color: black; 
    -fx-font-size: 12;
    -fx-pref-width: 800;
}

.tabPanel{
    -fx-background-color: black;
    -fx-spacing: 15;
    -fx-padding: 5 15 0 15;
    -fx-pref-width: 600;
    -fx-pref-height: 30;
    -fx-alignment: CENTER_RIGHT;
    
}

.tab{
    -fx-background-color: silver; 
    -fx-background-radius: 10 10 0 0;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 10 10 0 0; 
    -fx-padding: 2;
    -fx-pref-width: 150;
    -fx-alignment: CENTER;
}

.tab:hover{
    -fx-background-color: silver; 
    -fx-background-radius: 10 10 0 0;
    -fx-border-width: 2;
    -fx-border-color: green;
    -fx-border-radius: 10 10 0 0;
    -fx-padding: 2;
    -fx-pref-width: 150;
    -fx-alignment: CENTER;
}

.tab-selected{
    -fx-background-color: lightblue; 
    -fx-background-radius: 10 10 0 0;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 10 10 0 0; 
    -fx-padding: 2;
    -fx-pref-width: 150;
    -fx-alignment: CENTER;
}

.panel{
    -fx-background-color: silver;
    -fx-background-radius: 10 0 0 0;
    /*    -fx-border-color: black;
        -fx-border-width: 1 0 0 1;
        -fx-border-radius: 20 0 0 0;*/
    -fx-spacing: 20;
    -fx-padding: 20;
  // -fx-pref-height: 600;
}

.panelItem{
    -fx-font-family: "Monospaced";
    -fx-border-color: black;
    -fx-border-radius: 10 10 10 10;
    -fx-spacing: 10;
    -fx-padding: 10;
   -fx-pref-width: 500;
  //  -fx-max-width: 250;
    -fx-min-width: 250;
    -fx-pref-height: 100;
  //  -fx-max-height: 100;
    -fx-min-height: 100;
    -fx-alignment: CENTER;
 
}


.leftPanel{
    -fx-background-color:  black;
}

.leftPanelItem{
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-border-radius: 0 10 10 0;

    -fx-background-color: silver; 
    -fx-background-radius: 0 10 10 0;
    /*    -fx-border-color: black;
        -fx-border-radius: 0 10 10 0;*/
}

.leftPanelItemDisconnected{
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-border-radius: 0 10 10 0;

    -fx-background-color: red; 
    -fx-background-radius: 0 10 10 0;
    /*    -fx-border-color: black;
        -fx-border-radius: 0 10 10 0;*/
}

.leftPanelItem:hover{
    -fx-border-width: 2;
    -fx-border-color: green;
    -fx-border-radius: 0 10 10 0;
}



.selectedLeftPanelItem{
    -fx-border-width: 2;
    -fx-border-color: lightblue;
    -fx-border-radius: 0 10 10 0;
    //-fx-background-color: lightblue; 
    -fx-background-radius: 0 10 10 0;
}

.statusPanel{
    -fx-background-color:  silver;
    -fx-border-width: 10 0 0 0;
    -fx-border-color: black;
    -fx-fill: black;
    -fx-padding: 2;
    -fx-alignment: CENTER_LEFT;
}

.logTextArea {
  -fx-font-family: Monospaced;
 // -fx-highlight-fill: #00ff00;
 // -fx-highlight-text-fill: #000000;
  -fx-text-fill: red;
  -fx-background-color: silver;
  // -fx-font-family: "Monospaced";
   -fx-font-weigh : bold;
    -fx-border-color: black;
    -fx-border-radius: 10 10 10 10;
    -fx-spacing: 10;
    -fx-padding: 10;
}


.logTextArea .content {
    -fx-background-color: silver;
}

/*.logTextArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}*/